form {
	position: relative;
	width: 500px;
	height: 100px;
}
span{
	color: #cecece;
}
span.message {
	color: #010101;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	top: 40px;
	padding: 5px;
}
.success {
	color:#32CD32;
	border: 1px solid #008000;
}
.error {
	color:#8B0000;
	border: 1px solid #FF0000;
}
.texto {
	font-family: Arial;
	color: #ccc;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #ccc;
	font-weight: bold;
	border-radius: 5px;
}
